* {
    box-sizing: border-box;
    overflow-y: hidden;
}
img {
    vertical-align: middle;
    height: 100vh;
    width: 100%;
}

body,h1,h2,h3,h4,h5,h6 {
    font-family: "Amatic SC", sans-serif;
    color: white;
}

.container{
    position: relative;
}

.content {
    padding-left: .5em;
    opacity: .8;
}

.container .content{
    position: absolute;
    bottom: 0;  /* position it at the bottom of page */
    background: rgb(0, 0, 0);
    width: 100%;
}
